.awardTag-wrapper {
  margin-top: 80px;
}
.awardTag-content {
  float: left;
  width: 100%;
  height: 50%;
}

.awardTag-content.item {
  width: 33%;
  margin-top: 30px;
}
.awardTag-content.item > span {
  font-family: Wemakeprice-SemiBold;
}
